
beautifulsoup4
chex
einops
flask
flax
gym
gymnax
hydra-core
hydra-submitit-launcher
javascript
jax[cuda]
jax
lark
Levenshtein
matplotlib
openai
opencv-python
optax
orbax-checkpoint
pandas
pathvalidate
Pillow
py-cpuinfo
python-dotenv
scikit-image
selenium
submitit
tiktoken
wandb
