
beautifulsoup4
distrax
einops
flask
flax
gym
gymnax
hydra-core
imageio
# jax[cuda]  # or `jax` if no CUDA is not an option
jax
lark
Levenshtein
matplotlib
openai
opencv-python
optax
pandas
pathvalidate
Pillow
python-dotenv
tiktoken
wandb
# web-browser
webdriver-manager
