
beautifulsoup4
distrax
einops
flask
flax
gym
gymnax
hydra-core
hydra-submitit-launcher
imageio
javascript
# jax[cuda]  # or `jax` if no CUDA is not an option
jax
lark
Levenshtein
matplotlib
openai
opencv-python
optax
orbax-checkpoint==0.11.9
pandas
pathvalidate
Pillow
py-cpuinfo
python-dotenv
scikit-image
selenium
submitit
tiktoken
wandb
# web-browser
webdriver-manager
