beautifulsoup4
einops
flask
flax
hydra-core
imageio
jax[cuda]  # or `jax` if no CUDA is not an option
lark
Levenshtein
matplotlib
openai
opencv-python
optax
pandas
Pillow
python-dotenv
tiktoken
wandb
# web-browser